<template>
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <form action="#">
          <fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                v-model="article.title"
                type="text"
                placeholder="Article Title"
              >
            </fieldset>

            <fieldset class="form-group">
              <input
                class="form-control"
                type="text"
                v-model="article.description"
                placeholder="What's this article about?"
              >
            </fieldset>

            <fieldset class="form-group">
              <textarea
                class="form-control"
                rows="8"
                placeholder="Write your article (in markdown)"
                v-model="article.body"
              ></textarea>
            </fieldset>

            <fieldset class="form-group">
              <input
                class="form-control"
                type="text"
                v-model="enteredTag"
                placeholder="Enter tags"
                v-on:keyup="addTag"
              >
              <div class="tag-list">
                <span
                  v-for="(tag, index) in article.tagList"
                  :key="tag"
                  class="tag-default tag-pill"
                >
                  <i class="ion-close-round" @click="removeTag(index)"></i>
                  {{tag}}
                </span>
              </div>
            </fieldset>

            <button
              class="btn btn-lg pull-xs-right btn-primary" type="button"
              @click="publishArticle()"
            >Publish Article</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import HttpApi from "@/services/api/HttpApi";

export default {
  name: "ArticleForm",
  props: {
    article: Object,
    enteredTag: String
  },
  methods: {
    addTag: function(event) {
      if (event.key === "Enter" && this.enteredTag !== undefined) {
        if (this.article.tagList === undefined) {
          this.article.tagList = [];
        }
        this.article.tagList.push(this.enteredTag);
        this.enteredTag = undefined;
      }
    },
    publishArticle() {
      if (this.article.slug === undefined) {
        HttpApi.publishArticle(this.article).then(response => {
          this.articlePublishedOrUpdated(response);
        });
      } else {
        HttpApi.updateArticle(this.article).then(response => {
          this.articlePublishedOrUpdated(response);
        });
      }
    },
    articlePublishedOrUpdated(response) {
      this.$router.push("/article/" + response.data.article.slug);
    },
    removeTag(index) {
      this.article.tagList.splice(index);
    }
  }
};
</script>

