<template>
  <div>
    <a>
      <img :src="article.author.image">
    </a>
    <div class="info">
      <span class="author">{{article.author.username}}</span>
      <span class="date">{{article.createdAt}}</span>
    </div>
  </div>
</template>

<script>
export default {
    name: "ArticleAuthorInfo",
    props: {
      article: {
        type: Object
      }
    },
    mounted() {
    }
};
</script>

