<template>
  <div class="article-meta">
    <ArticleAuthorInfo :article="article"/>
    <!-- If current user is the author, show edit/delete buttons -->
    <span v-if="canUserModifyArticle()">
      <router-link
        class="btn btn-outline-secondary btn-sm"
        :to="{name: 'EditArticle', params: { slug: article.slug}}"
      >
        <i class="ion-edit"></i> Edit Article
      </router-link>

      <button class="btn btn-outline-danger btn-sm" @click="deleteArticle()">
        <i class="ion-trash-a"></i> Delete Article
      </button>
    </span>

    <!-- Otherwise, show favorite & follow buttons -->
    <span v-if="isUserLoggedIn() && !canUserModifyArticle()">
      <UserFollowButton :author="article.author"/>
      <FavoriteArticleAction :article="article" page="detailPage"/>
    </span>
  </div>
</template>

<script>
import ArticleAuthorInfo from "@/components/ArticleAuthorInfo.vue";
import HttpApi from "@/services/api/HttpApi";
import FavoriteArticleAction from "@/components/FavoriteArticleAction";
import UserFollowButton from "@/components/UserFollowButton";

export default {
  name: "ArticleDetailAuthorActions",
  components: {
    ArticleAuthorInfo,
    FavoriteArticleAction,
    UserFollowButton
  },
  props: {
    article: Object
  },
  methods: {
    isUserLoggedIn() {
      return HttpApi.isUserLoggedIn();
    },
    deleteArticle() {
      HttpApi.deleteArticle(this.article.slug).then(response => {
        this.$router.push("/");
      });
    },
    canUserModifyArticle() {
      return (
        this.isUserLoggedIn() &&
        this.article.author.username === HttpApi.getUserName()
      );
    }
  }
};
</script>