<template>
  <div>
    <div show-authed="true" style="display: inherit;" v-if="isUserLoggedIn()">
      <form class="card comment-form" action="#">
        <div class="card-block">
          <textarea
            class="form-control"
            placeholder="Write a comment..."
            rows="3"
            v-model="createdComment"
          ></textarea>
        </div>
        <div class="card-footer">
          <img class="comment-author-img">
          <button class="btn btn-sm btn-primary" @click="postComment()">Post Comment</button>
        </div>
      </form>
    </div>
    <div class="card" v-for="comment in comments" :key="comment.id">
      <div class="card-block">
        <p class="card-text">{{comment.body}}</p>
      </div>
      <div class="card-footer">
        <a href="#" class="comment-author">
          <img class="comment-author-img" :src="comment.author.image">
        </a>
        &nbsp;
        <span href="#" class="comment-author">{{comment.author.username}}</span>
        <span class="date-posted">{{comment.createdAt}}</span>
        <span class="mod-options" v-if="canDeleteComment(comment)" @click="deleteComment(comment)">
          <i class="ion-trash-a"></i>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import HttpApi from "@/services/api/HttpApi";

export default {
  name: "ArticleDetailComments",
  props: {
    articleSlug: String,
    comments: [],
    createdComment: String
  },
  methods: {
    isUserLoggedIn() {
      return HttpApi.isUserLoggedIn();
    },
    getComments() {
      HttpApi.getArticleComments(this.articleSlug).then(response => {
        this.comments = response.data.comments;
      });
    },
    canDeleteComment(comment) {
      return comment.author.username === HttpApi.getUserName();
    },
    postComment() {
      if (
        this.createdComment !== undefined &&
        this.createdComment.trim() !== ""
      ) {
        HttpApi.postComment(this.createdComment, this.articleSlug).then(
          response => {
            if (this.comments === undefined) {
              this.comments = [];
            }

            this.comments.push(response.data.comment);
            this.createdComment = undefined;
          }
        );
      }
    },
    deleteComment(comment) {
      HttpApi.deleteComment(this.articleSlug, comment.id).then(() => {
        this.getComments();
      });
    }
  },
  mounted: function() {
    this.getComments();
  }
};
</script>

