<template>
     <ul class="tag-list">
          <li
            class="tag-default tag-pill tag-outline"
            v-for="tag in article.tagList"
            :key="tag"
          >{{tag}}</li>
          <!-- ngRepeat: tag in $ctrl.article.tagList -->
        </ul>
</template>

<script>
export default {
    name: "ArticleTagsInfo",
    props: {
        article: Object
    }
}
</script>

