<template>
  <button
    class="btn btn-sm"
    v-bind:class="{'btn-primary': article.favorited, 'btn-outline-primary': !article.favorited}"
    @click="favoriteStateChanged(article)"
  >
    <i class="ion-heart"></i>
    <span v-if="isHomePage()">{{article.favoritesCount}}</span>
    <span v-if="page === 'detailPage'">Favorite Article ({{article.favoritesCount}})</span>
  </button>
</template>

<script>
import HttpApi from "@/services/api/HttpApi";

export default {
  name: "FavoriteArticleAction",
  props: {
    page: String,
    article: Object
  },
  methods: {
    favoriteStateChanged(article) {
      if (article.favorited) {
        HttpApi.deleteFavoriteForArticle(article.slug).then(() => {
          article.favorited = false;
          article.favoritesCount = article.favoritesCount - 1;
        });
      } else {
        HttpApi.createFavoriteForArticle(article.slug).then(() => {
          article.favorited = true;
          article.favoritesCount = article.favoritesCount + 1;
        });
      }
    },
    isHomePage() {
      return this.page === "homePage";
    }
  },
  mounted: function() {
  }
};
</script>

