<template>
  <div>
    <div class="article-preview" v-for="article in articles" :key="article.slug">
      <div class="article-meta">
        <ArticleAuthorInfo :article="article"/>
        <div class="pull-xs-right">
          <FavoriteArticleAction :article="article" page="homePage" v-if="isUserLoggedIn()"/>
        </div>
      </div>
      <router-link
        class="preview-link"
        :to="{name: 'ArticleDetail', params: { slug: article.slug}}"
      >
        <h1>{{article.title}}</h1>
        <p>{{article.description}}</p>
        <span>Read more...</span>
        <ArticleTagsInfo :article="article"/>
      </router-link>
      <a class="preview-link"></a>
    </div>
    <ul class="pagination">
      <li
        class="page-item"
        v-for="page in noOfPages"
        :key="page"
        v-bind:class="{active: page === activePage}"
        @click="pageChanged(page)"
      >
        <a class="page-link">{{page}}</a>
      </li>
    </ul>
  </div>
</template>

<script>
import HttpApi from "@/services/api/HttpApi";
import ArticleAuthorInfo from "@/components/ArticleAuthorInfo.vue";
import ArticleTagsInfo from "@/components/ArticleTagsInfo.vue";
import FavoriteArticleAction from "@/components/FavoriteArticleAction.vue";

export default {
  name: "GlobalFeed",
  components: {
    ArticleAuthorInfo,
    ArticleTagsInfo,
    FavoriteArticleAction
  },
  props: {
    articles: [],
    articleCount: Number,
    noOfPages: Number,
    getUserFeed: Boolean,
    selectedTag: String,
    userArticle: Boolean,
    favoritedArticles: Boolean
  },
  methods: {
    isUserLoggedIn() {
      return HttpApi.isUserLoggedIn();
    },
    getArticles: function(offset) {
      if (this.userArticle !== undefined) {
        this.fetchUserSpecificArticles(offset);
      } else {
        if (this.selectedTag === undefined) {
          this.fetchArticlesForFeed(offset);
        } else {
          HttpApi.filterArticlesByTag(offset, this.selectedTag).then(
            response => {
              this.articlesReceived(response, offset);
            }
          );
        }
      }
    },
    fetchArticlesForFeed(offset) {
      if (!this.getUserFeed) {
        HttpApi.getArticles(offset).then(response => {
          this.articlesReceived(response, offset);
        });
      } else {
        HttpApi.getUserFeed(offset).then(response => {
          this.articlesReceived(response, offset);
        });
      }
    },
    fetchUserSpecificArticles(offset) {
      if (!this.favoritedArticles) {
        HttpApi.getUserArticles(offset).then(response => {
          this.articlesReceived(response, offset);
        });
      } else {
        HttpApi.getUserFavoritedArticles(offset).then(response => {
          this.articlesReceived(response, offset);
        });
      }
    },
    pageChanged(page) {
      this.getArticles(page - 1);
    },
    articlesReceived(response, offset) {
      this.articles = response.data.articles;
      this.articleCount = response.data.articlesCount;
      this.noOfPages = Math.floor(
        Number(
          this.articleCount / 10 + (this.articleCount % 10 !== 0 ? 1 : 0)
        ).toFixed(0)
      );
      this.activePage = offset + 1;
    }
  },
  mounted: function() {
    this.getArticles(0);
  }
};
</script>

