<template>
  <button
    class="btn btn-sm action-btn"
    v-bind:class="{'btn-secondary': author.following, 'btn-outline-secondary': !author.following}"
    @click="followOrUnfollow()"
  >
    <i class="ion-plus-round"></i>
    &nbsp;
    <span v-if="!author.following">Follow {{author.username}}</span>
    <span v-else>Unfollow {{author.username}}</span>
  </button>
</template>

<script>
import HttpApi from '@/services/api/HttpApi';

export default {
  name: "UserFollowButton",  
  props: {
    author: Object
  },
  methods: {
    followOrUnfollow() {
      if (!this.author.following) {
        HttpApi.followUser(this.author.username).then(() => {
          this.author.following = true;
        });
      } else {
        HttpApi.unfollowUser(this.author.username).then(() => {
          this.author.following = false;
        });
      }
    }
  }
};
</script>

