<template>
  <div class="article-page">
    <div class="banner">
      <div class="container">
        <h1>{{article.title}}</h1>
        <div>
          <ArticleDetailAuthorActions :article="article"/>
        </div>
      </div>
    </div>
    <div class="container page">
      <div class="row article-content">
        <div class="col-xs-12">
          <div>
            <div>
              <p>{{article.body}}</p>
            </div>
          </div>
          <ArticleTagsInfo :article="article"/>
        </div>
      </div>
      <hr>
      <div class="article-actions">
        <div>
          <div>
            <ArticleDetailAuthorActions :article="article"/>
          </div>
        </div>
      </div>
      <!-- Comments section -->
      <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
          <ArticleDetailComments :articleSlug="article.slug"/>
          <p show-authed="false" style="display: none;">
            <a href="https://demo.productionready.io/#/login">Sign in</a> or
            <a href="https://demo.productionready.io/#/register">sign up</a> to add comments on this article.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HttpApi from "@/services/api/HttpApi";
import ArticleAuthorInfo from "@/components/ArticleAuthorInfo.vue";
import ArticleTagsInfo from "@/components/ArticleTagsInfo.vue";
import ArticleDetailAuthorActions from "@/components/ArticleDetailAuthorActions.vue";
import ArticleDetailComments from '@/components/ArticleDetailComments.vue';

export default {
  name: "ArticleDetail",
  components: {
    HttpApi,
    ArticleAuthorInfo,
    ArticleTagsInfo,
    ArticleDetailAuthorActions,
    ArticleDetailComments 
  },
  props: {
    slug: String,
    article: Object
  },
  mounted: function() {
    HttpApi.getArticle(this.$route.params.slug).then(response => {
      this.article = response.data.article;
    });
    window.document.title = this.$route.params.slug;
  }
};
</script>
