<template>
  <div>
    <ArticleForm :article="article"/>
  </div>
</template>

<script>
import ArticleForm from "@/components/ArticleForm.vue";
import HttpApi from "@/services/api/HttpApi";

export default {
  name: "EditArticle",
  components: {
    ArticleForm
  },
  props: {
    article: Object
  },
  mounted: function() {
    HttpApi.getArticle(this.$route.params.slug).then(response => {
      this.article = response.data.article;
    });
    window.document.title = 'Edit Article '+ this.$route.params.slug;
  }
};
</script>

