<template>
  <div class="container">
    <router-link :to="{name: 'home'}" class="navbar-brand">conduit</router-link>

    <!-- Show this for logged out users -->
    <ul
      show-authed="false"
      class="nav navbar-nav pull-xs-right"
      style="display: inherit;"
      v-if="!isUserLoggedIn()"
    >
      <li class="nav-item">
        <router-link :to="{name: 'home'}" class="nav-link active">Home</router-link>
      </li>

      <li class="nav-item">
        <router-link :to="{name: 'Login'}" class="nav-link">Sign in</router-link>
      </li>

      <li class="nav-item">
        <router-link :to="{name: 'Signup'}" class="nav-link">Sign up</router-link>
      </li>
    </ul>

    <!-- Show this for logged in users -->
    <ul show-authed="true" class="nav navbar-nav pull-xs-right" v-if="isUserLoggedIn()">
      <li class="nav-item">
        <router-link :to="{name: 'home'}" class="nav-link active">Home</router-link>
      </li>

      <li class="nav-item">
        <router-link :to="{name: 'NewArticle'}" class="nav-link">
          <i class="ion-compose"></i>&nbsp;New Article
        </router-link>
      </li>
      <router-link class="nav-item" :to="{name: 'UserInfo'}">
        <span class="nav-link">{{getUserName()}}</span>
      </router-link>
    </ul>
  </div>
</template>

<script>
import HttpApi from "@/services/api/HttpApi";

export default {
  name: "Header",
  props: {},
  methods: {
    isUserLoggedIn: function() {
      return HttpApi.isUserLoggedIn();
    },
    getUserName: function() {
      return HttpApi.getUserName();
    }
  }
};
</script>