<template>
  <div>
    <div class="banner" show-authed="false" style="display: inherit;">
      <div class="container">
        <h1 class="logo-font ng-binding" ng-bind="::$ctrl.appName | lowercase">conduit</h1>
        <p>A place to share your knowledge.</p>
      </div>
    </div>
    <div class="container page">
      <div class="row">
        <div class="col-md-9">
          <div class="feed-toggle">
            <ul class="nav nav-pills outline-active">
              <li class="nav-item" v-if="isUserLoggedIn()">
                <a
                  href="#"
                  class="nav-link"
                  v-bind:class="{'active': !tagSelected && !globalFeedDisplay}"
                  @click="switchToYourFeed()"
                >Your Feed</a>
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link"
                  v-bind:class="{'active': !tagSelected && globalFeedDisplay}"
                  @click="switchToGlobalFeed()"
                >Global Feed</a>
              </li>
              <li class="nav-item" v-if="tagSelected">
                <a href="#" class="nav-link active" @click="switchToGlobalFeed()">#{{selectedTag}}</a>
              </li>
            </ul>
            <!--<div v-if="!tagSelected">-->
            <div v-if="toggleFeed">
              <GlobalFeed :selectedTag="selectedTag" :getUserFeed="!globalFeedDisplay"/>
            </div>
            <!--<div>
              <GlobalFeed v-bind:getUserFeed="true" v-if="!globalFeedDisplay"/>
            </div>
          </div>
          <div v-if="tagSelected">
            <div>
              <GlobalFeed :selectedTag="selectedTag" v-bind:getUserFeed="false"/>
            </div>
            </div>-->
          </div>
        </div>
        <div class="col-md-3">
          <div class="sidebar">
            <p>Popular Tags</p>
            <div class="tag-list">
              <a
                href="#"
                class="tag-default tag-pill ng-binding ng-scope"
                v-for="tag in tags"
                :key="tag"
                @click="tagClicked(tag)"
              >{{tag}}</a>
            </div>
            <div class="post-preview" v-if="tags.length === 0">No tags are here... yet.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import HttpApi from "@/services/api/HttpApi";
import GlobalFeed from "@/components/GlobalFeed.vue";
import { setTimeout } from "timers";

export default {
  name: "home",
  components: {
    GlobalFeed
  },
  props: {
    globalFeedDisplay: (Boolean = false),
    tags: [],
    tagSelected: (Boolean = false),
    selectedTag: String,
    toggleFeed: (Boolean = false)
  },
  methods: {
    isUserLoggedIn: function() {
      return HttpApi.isUserLoggedIn();
    },
    getUserName: function() {
      return HttpApi.getUserName();
    },
    switchToGlobalFeed() {
      this.selectedTag = undefined;
      this.tagSelected = false;
      this.globalFeedDisplay = true;
      this.displayFeed();
    },
    displayFeed() {
      this.toggleFeed = false;
      setTimeout(() => {
        this.toggleFeed = true;
      }, 10);
    },
    switchToYourFeed() {
      this.tagSelected = false;
      this.selectedTag = undefined;
      this.globalFeedDisplay = false;
      this.displayFeed();
    },
    getTags() {
      HttpApi.getAllTags().then(response => {
        this.tags = response.data.tags;
      });
    },
    tagClicked(tag) {
      this.selectedTag = tag;
      this.tagSelected = true;
      this.displayFeed();
    }
  },
  mounted: function() {
    if (HttpApi.isUserLoggedIn()) {
      this.switchToYourFeed();
    } else {
      this.switchToGlobalFeed();
    }
    this.getTags();
    window.document.title = 'Home'
  }
};
</script>
