<template>
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center ng-binding" ng-bind="$ctrl.title">Sign in</h1>
        <p class="text-xs-center">
          <router-link :to="{name: 'Signup'}">Need an account?</router-link>
        </p>
         <form>
          <fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="email" placeholder="Email" v-model="email">
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="password" placeholder="Password" v-model="password">
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right" @click="login()">Sign in</button>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import HttpApi from '@/services/api/HttpApi'
export default {
    name: 'Login',
    props: {
      email: String,
      password: String
    },
    methods: {
      login: function() {
        if(this.email && this.password) {
          HttpApi.login(this.email, this.password).then(() => {
            window.location.reload();
          });
        }
      }
    },
    created() {
      if(HttpApi.isUserLoggedIn()){
        this.$router.push('/');
      }
      window.document.title = 'Login';
    }


}
</script>

