<template>
  <div>
    <ArticleForm :article="{}"/>
  </div>
</template>

<script>
import ArticleForm from "@/components/ArticleForm.vue";

export default {
  name: "NewArticle",
  components: {
    ArticleForm
  },
  mounted: function() {
    window.document.title = 'New Article';
  }
};
</script>

