<template>
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
          <router-link :to="{name: 'Login'}">Have an account?</router-link>
        </p>
        <div class="error-messages" v-if="errorDone">Wrong Input!</div>
        <form action="#">
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Username"
              v-model="user.username"
            >
          </fieldset>

          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="email"
              placeholder="Email"
              v-model="user.email"
            >
          </fieldset>

          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="password"
              placeholder="Password"
              v-model="user.password"
            >
          </fieldset>

          <button class="btn btn-lg btn-primary pull-xs-right" type="button" @click="signup()">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import HttpApi from "@/services/api/HttpApi";

export default {
  name: "Signup",
  props: {
    user: Object,
    errorDone: (Boolean = false)
  },
  methods: {
    signup() {
      if (this.user.username && this.user.email && this.user.password) {
        HttpApi.signup(this.user)
          .then(response => {
            this.$router.push("/login");
          })
          .catch(response => {
            this.errorDone = true;
          });
      }
    }
  },
  mounted: function() {
    this.user = {};
    window.document.title = 'Sign up';
  }
};
</script>

