<template>
  <div>
    <div class="profile-page">
      <div class="user-info">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1">
              <img :src="user.image" class="user-img">
              <h4>{{user.username}}</h4>
              <p>{{user.bio}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-10 offset-md-1">
            <!-- Tabs for switching between author articles & favorites -->
            <div class="articles-toggle">
              <ul class="nav nav-pills outline-active">
                <li class="nav-item">
                  <a href="#" class="nav-link" v-bind:class="{active: myArticles}"
                  @click="switchToMyArticles()">My Articles</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    v-bind:class="{active: !myArticles}"
                    href="#"
                    @click="switchToFavoritedArticles()"
                  >Favorited Articles</a>
                </li>
              </ul>
            </div>
            <div v-if="toggleFeed">
              <GlobalFeed v-bind:userArticle="true" v-bind:favoritedArticles="!myArticles"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HttpApi from "@/services/api/HttpApi";
import GlobalFeed from "@/components/GlobalFeed.vue";

import { setTimeout } from "timers";

export default {
  name: "UserInfo",
  props: {
    user: Object,
    myArticles: (Boolean = true),
    toggleFeed: (Boolean = false)
  },
  components: {
    GlobalFeed
  },
  methods: {
    switchToMyArticles() {
      this.myArticles = true;
      this.feedArticles();
    },
    switchToFavoritedArticles() {
      this.myArticles = false;
      this.feedArticles();
    },
    feedArticles() {
      this.toggleFeed = false;
      setTimeout(() => {
        this.toggleFeed = true;
      }, 10);
    }
  },
  mounted: function() {
    HttpApi.getUser().then(response => {
      this.user = response.data.profile;
    });
    this.switchToMyArticles();
    window.document.title = HttpApi.getUserName();
  }
};
</script>
