<template>
  <div id="app">
    <nav class="navbar navbar-light">

      <Header />
    
    </nav>
    <router-view/>
  </div>
</template>


<script>
import Header from '@/views/Header.vue'
import styles from './assets/styles/style.css'

export default {
  components: {
    Header
  }
}
</script>

